.details{
    border: 2px solid red;
    height: 100%;
    width: 80%;
    background: linear-gradient(transparent, rgb(254, 253, 253));
    background-color: rgb(74, 32, 100, .8);
    /* overflow: scroll; */
}
.details h1{
    margin: 1rem 3rem;
    color: white;
    text-shadow: 0px 0px 10px black;

}
.songDetail{
    border: 2px solid red;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
.episode{
    /* border: 2px solid red; */
    height: 50%;
    width: 80%;
    margin: 2rem 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: bisque;
    box-shadow: 2px 2px 5px black;
    padding-bottom: 1rem;
}
.playlist{
    margin: 2rem 3rem;
    /* border: 2px solid red; */
     height: 70%;
     width: 90%;
    
}
.playlist .rightSide{
    box-shadow: 2px 2px 5px black;
    height: 70%;
    width: 100%;
    display: flex;
justify-content: space-around;
align-items: center;

    /* border: 2px solid red; */
}
.playlist .rightSide img{
    width: 30%;
    height: 50%;
    margin: 2rem 2rem;
}
.playlist .rightSide h2{
    font-size: 3rem;
    color: white;
}
.playlist .rightSide p{
    font-size: 1.4rem;
}
